@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700');

body {
  margin: 0;
  padding: 0;
  background: #ecf0f1;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Header styles */

header {
  text-align: center;
  margin-top: 60px;
}

header h1 {
  color: #2c3e50;
  font-size: 3rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 5px;
}

header h2 {
  font-family: 'Source Sans Pro', sans-serif;
  color: #2c3e50;
  font-weight: 200;
  font-size: 14px;
}

/* Input Styles */

.form {
  text-align: center;
  padding: 30px 0 10px 0;
}

input {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  font-weight: 200;
  padding: 0 14px 0 14px;
  width: 500px;
  line-height: 2;
  border: none;
  border-bottom: 2px solid #2c3e50;
  background-color: #ecf0f1;
}

input:focus {
  outline: none;
}

/* List Styles */

.list {

}

ul {
  width: 500px;
  margin: 0 auto;
  padding-left: 7px;
}

li {
  font-size: 16px;
  font-weight: 200;
  line-height: 1.5;
  padding: 10px 5px 10px 5px;
  list-style: none;
  position: relative;
  transition: background-color 0.2s ease-in;
}

.task:hover span{
  opacity: 1;
}

li:hover {
  background-color: #d7dee0;
}

li > span {
  color: red;
  position: absolute;
  right: 10px;
  opacity: 0;
  cursor: pointer;
  transition: all 0.2s linear;
}

.done {
  text-decoration: line-through;
  color: #bec5c6;
}
